$header-height: 50px;
$header-bg-color: #170A48;
$header-flex-center: center;
$white-color: #ffffff;
$header-shadow: 0 1px 5px orange;
$header-border: 2px solid white;

$default-margin: 1em;
$default-fs: 1rem;
$footer-color:#6286F9;